* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-de-fundo: #F4E1D2;
}

body{
    overflow-x: hidden;
    margin: 0vh;
    background-color: var(--cor-de-fundo);
}

header{
    background-color: var(--cor-de-fundo) ;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 9999;
    top: 0;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
}

/* eheh Botão X */
.close-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

}

.close-btn::before,
.close-btn::after {
  content: "";
  position: fixed;
  width: 25px;
  height: 3px;
  background: black;
  border-radius: 3px;
  transition: 0.3s;
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}

.close-btn:hover::before{
  transform: rotate(-45deg);
  scale: calc(1.2);
}

.close-btn:hover::after{
  transform: rotate(45deg);
  scale: calc(1.2);
}

.btns{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

/* eheh fim do Botão X */

/*LOGO*/

#circ a {
    border:none;
    background: none;
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: block;
}

#pop {
    width: 100vw;
    height: 90vh
}

#circ {
    top: 15px;
    width: 65px;
    height: 65px;
    background-color: #F4E1D2;
    border-radius: 50%;
    box-shadow: 0 0 10px;
    background-image: url("./media/Logotipo.png");
    background-repeat: no-repeat;
    background-size: 65px 65px ;
    background-position: center center;
}

/*FIM DA LOGO*/

/*Lupa de pesquisa*/

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 0px;
    background-color: var(--cor-de-fundo);
    padding: 10px 20px;
    border-radius: 60px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease-in-out;
}

.search-bar input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    background-color: transparent;
    color: black;
}

.search-bar i{
    cursor:pointer;
    font-size:15px;
    color:black;
}

.search-bar:hover{
    width: 300px;
}

/*Fim da Lupa de pesquisa*/

.FIRST{
    padding-top: 100px;
    background-color: var(--cor-de-fundo);
    font-family:"Lato", sans-serif;
    min-height: 10vh;
}

.about{
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.JM{
    font-size:20px;
    font-weight: 400;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.C{
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: -100px;
}

span img{
    height: 250px;
    width: 170px;
}

img{
    transition: 0.3s ease-in-out;
}

img:hover{
    transform: translateY(-10px);
    filter: brightness(1.1);
    
}

.container{
    width: 170px;
    height: 250px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: gallery 20s linear infinite;
    cursor: pointer;
}


.container span{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(500px);
    -webkit-box-reflect:below 1px linear-gradient(transparent,transparent,rgba(3,3,3,0.2));
}

.container span img{
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
}

@keyframes gallery{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }

    100%{
        transform: perspective(1000px) rotateY(360deg);
    }

}

.text-one {
  background-color: var(--cor-de-fundo);
  display: flex;         /* ativa flexbox */
  flex-direction: row;   /* organiza horizontalmente */
  flex-wrap: wrap;       /* permite quebrar para a próxima linha */
  justify-content: center; /* centraliza horizontalmente */
  width: 100vw;         /* largura da caixa */
  padding: 100px ;
  height: 500px;
}

.FONE{
    font-size: 25px;
    font-family:"Lato", sans-serif;
    margin-right: 10vw;
    width: 650px;
    
    opacity: 0;
    transform: translateX(0);

    animation: descer 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.highlight{
    font-weight: 400;
}

.JM-two{
    font-style: italic;
    font-size: 40px;

}

.JMI{
    width: 300px;
    height:460px;
    margin-right: 5vw;

        /* estado inicial */
    opacity: 0;
    transform: translateX(0);

    animation: subir 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.second{
    display: block;
    margin-top: 30px;
    font-family:"Lato", sans-serif;
}

.Third{
    display: block;  
    margin-top: 30px;
    font-weight: 350;
}

.Forth{
    display: block;
    margin-top: 40px;
    font-size: 20px;
    font-style: italic;
}

/* aqui começa os textos e imagens*/

.l-c{
    display: flex;
    justify-content: center;
}

.litle-circle{
    background-color: #000000;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    margin-right: 9.1px;
}

.barra-vertical{
    width: 3px;        /* largura fina */
    height: 2200px;     /* comprimento vertical */
    background-color: #000000;
    border-radius: 2px;

}

.images-and-txts{
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: var(--cor-de-fundo);
    font-family:"Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.IMG-CL-1{
    display: flex;
    flex-direction:column;
    gap: 150px;
}

.image-mark-one{
    width: 295px;
    height: 215px;

        /* estado inicial */
    opacity: 0;
    transform: translateX(0);

    animation: subir 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.txt-2{
    width: 230px;
    height: 200px;  
    
}

.txt-1{
    width: 300px;

    animation: subir 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.IMG-CL-2{
    display: flex;
    flex-direction:column;
    gap: 150px;

    opacity: 0;
    transform: translateX(0);

    animation: descer 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
    
}

.RIOT{
    width: 240px;

    /* estado inicial */
    opacity: 0;
    transform: translateX(0);

    animation: descer 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.txt-3{
    width: 300px;

    opacity: 0;
    transform: translateX(0);

    animation: descer 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.AMMUN{
    height: 210px;
    width: 300px;

    animation: subir 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.txt-4{
    width: 230px;
    height: 200px;  

    animation: subir 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.txt-5{
    width: 300px;

    opacity: 0;
    transform: translateX(0);

    animation: descer 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;  
}

.CARTIER-BRACELET{
    width: 290px;
    height: 190px;

    animation: subir 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.txt-6{
    width: 230px;
    height: 200px;

    animation: subir 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.VACH{
    width: 300px;
    height: 100px;
    margin-top: 35%;

    opacity: 0;
    transform: translateX(0);

    animation: descer 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.FS{
    transition: 0.3s;

    opacity: 0;
    transform: translateX(0);

    animation: descer 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.FS:hover{
    transform: translateY(-10px);
    filter: brightness(1.1);
}

@keyframes subir {
    from {
        opacity: 0;
        transform: translateX(-1000px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes descer {
    from {
        opacity: 0;
        transform: translateX(1000px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* aqui acaba os textos e imagens*/

li{
    list-style: none;
}

.container-logos{
    background-color: black;
    width: 100vw;
}

.logos{
    max-width: 1000px;
    margin: 0 auto;
    overflow-x: hidden;
}

.logos ul{
    display: flex;
    align-items: center;
    gap: 40px;
    animation: 20s infinite slide linear;
}

.logos img{
    width: 120px;
    filter: invert(1);
}

@keyframes slide{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-1140px);
    }
}

footer{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    font-family:"Lato", sans-serif; 
    padding-bottom: 60px;
}

.Column-1{
    display: flex;
    gap: 30px;
}

.column-2{
    display: flex;
    gap: 50px;

}

footer img{
    filter: invert(1);
    width: 50px;
    cursor: pointer;
}

footer img:hover{
    filter: opacity(98%);
}

footer p{
    color: white;
}

p span{
    font-weight: 800;
}











