:root {
    --cor-de-fundo: #F4E1D2;
}

*{
    margin: 0;
    padding: 0;
    font-family:"Lato", sans-serif;
    box-sizing: border-box;
}

body{
    background: url(../media/BG-2-Contact.jpg) no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    
}

header{
    background-color: var(--cor-de-fundo) ;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 9999;
    top: 0;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 850px;
}

/* eheh Botão X */
.close-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

}

.close-btn::before,
.close-btn::after {
  content: "";
  position: fixed;
  width: 25px;
  height: 3px;
  background: black;
  border-radius: 3px;
  transition: 0.3s;
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}

.close-btn:hover::before{
  transform: rotate(-45deg);
  scale: calc(1.2);
}

.close-btn:hover::after{
  transform: rotate(45deg);
  scale: calc(1.2);
}

.btns{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

/* eheh fim do Botão X */

/*LOGO*/

#circ a {
    border:none;
    background: none;
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: block;
}

#pop {
    width: 100vw;
    height: 90vh
}

#circ {
    top: 15px;
    width: 65px;
    height: 65px;
    background-color: #F4E1D2;
    border-radius: 50%;
    box-shadow: 0 0 10px;
    background-image: url(../media/Logotipo.png);
    background-repeat: no-repeat;
    background-size: 65px 65px ;
    background-position: center center;
}

/*FIM DA LOGO*/

.contentor-contact{
    display: flex;
    justify-content: center; 
    padding-top: 150px;
    font-size: 30px;
}

.contentor-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}


.wrapper{
    width: 940px;
    height: 600px;
    background: transparent;
    border: 1px solid black;
    backdrop-filter: blur(20px);
    color: black;
    border-radius: 20px;
    padding: 40px 40px;
    box-shadow: 0 0px 15px rgba(0, 0, 0);
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.wrapper .input-box-2 {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 40px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0);
    border-radius: 20px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box-2 input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0);
    border-radius: 20px;
    font-size: 16px;
    color: black;
    padding-left: 20px;
    padding-bottom: 240px;
}


.input-box input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.input-box-2 input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-box-2 i{
    position: absolute;
    right: 20px;
    top: 10%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 35%;
    height: 45px;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.wrapper .btn:hover{
    background-color: transparent;
    transform: scale(1.1);            
}

.btn{
    color: var(--cor-de-fundo);
    font-size: 16px;
}

.btn:hover{
    color: black;
}

.contentor-btn{
    display: flex;
    justify-content: center;
}

footer{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    font-family:"Lato", sans-serif; 
    padding-bottom: 60px;
    margin-top: 120px;
}

.column-1{
    display: flex;
    gap: 30px;
}

.column-2{
    display: flex;
    gap: 50px;
    font-weight: 400;

}

footer img{
    filter: invert(1);
    width: 50px;
    cursor: pointer;
}

footer img:hover{
    filter: opacity(98%);
    transform: scale(1.2);
}

footer p{
    color: white;
}

p span{
    font-weight: 800;
}

@media screen and (min-height: 1223px){
    footer{
        padding-bottom: 120px;
    }
    
}

@media screen and (max-width: 1024px){
    nav{
        gap:600px;
    }

    .column-2{
        display: flex;
        flex-direction: column;
    }

    .wrapper{
        width: 600px;
    }
}

@media screen and (min-width:1442px){
    .contentor-contact{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    
}

/* Media Query para telas com largura MÁXIMA de 768px */
@media (max-width: 768px) {
    nav{
        gap: 200px;
        margin-left: 250px;
    }

}

@media screen and (max-width: 675px){
    .wrapper{
        width: 520px;
    }
 
}

@media screen and (max-width: 600px){
    .wrapper{
        width: 350px;
    }

    nav{
        gap: 100px;
        margin-left: 150px;
    }
}

@media screen and (max-width: 425px){
    .cntc{
        scale: calc(0.8);
    }

    .Column-1{
        gap:50px;
    }
}

@media screen and (max-width: 375px){
    .wrapper{
        width: 280px;
    }

    nav{
        gap: 70px;
        margin-left: 120px;
    }

}
    
@media screen and (min-height:1373px){
    footer{
        margin-top: 300px;
    }
}
