* {
    padding: 0;
}

:root {
    --cor-de-fundo: #F4E1D2;
}

body{
    overflow-x: hidden;
}

header{
    background-color: var(--cor-de-fundo) ;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 9999;
    top: 0;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 390px;
}

/* eheh Botão X */
.close-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 50px;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: fixed;
  width: 25px;
  height: 3px;
  background: black;
  border-radius: 3px;
  transition: 0.3s;
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}

.close-btn:hover::before{
  transform: rotate(-45deg);
  scale: calc(1.2);
}

.close-btn:hover::after{
  transform: rotate(45deg);
  scale: calc(1.2);
}

.btns{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

/* eheh fim do Botão X */

/*LOGO*/

#circ a {
    border:none;
    background: none;
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: block;
}

#pop {
    width: 100vw;
    height: 90vh
}

#circ {
    top: 15px;
    width: 65px;
    height: 65px;
    background-color: #F4E1D2;
    border-radius: 50%;
    box-shadow: 0 0 10px;
    background-image: url(../media/Logotipo.png);
    background-repeat: no-repeat;
    background-size: 65px 65px ;
    background-position: center center;
}

/*FIM DA LOGO*/

/*Lupa de pesquisa*/

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 0px;
    background-color: var(--cor-de-fundo);
    padding: 10px 20px;
    border-radius: 60px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease-in-out;  
}

.search-bar input{
    margin-left: 10px;
    margin-right: -10px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    background-color: transparent;
    color: black;
}

.search-bar i{
    cursor:pointer;
    font-size:15px;
    color:black;
}

.search-bar:hover{
    width: 300px;
}

/*Fim da Lupa de pesquisa*/

main{
  background-color: var(--cor-de-fundo);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: hidden;
  font-family:"Lato", sans-serif;
  padding-bottom: 100px;
}

.projects{
  font-size: 100px;
  font-style: normal;
  margin-top: 130px;
}

.by{
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
}

.JM{
  font-size: 30px;
  font-style: italic;

}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20em 0;
  z-index: 1;
}

.card{
  position: absolute;
  height: 500px;
  width: 350px;
  background-color: rgb(0, 0, 0);
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  transition: 0.5s ease;
  opacity: 100;
}

.card img{
  position: absolute;
  height: inherit;
  width: inherit;
  object-fit: cover;
  -webkit-box-reflect: below 0px linear-gradient(to top, rgb(0,0,0,0.5), transparent 20%);
  transition: 0.2s ease-in-out;
}

.card img:hover{
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.card span{
  position: absolute;
  top: 2%;
  right: 8%;
  color: rgb(255, 255, 255);
  font-size: 5em;
  font-weight: 900;
  mix-blend-mode: difference;
}

button{
  border: 1px solid #000000;
  height: 50px;
  width: 50px;
  font-size: 2em;
  background: none;
  border-radius: 50%;
  transition: 0.1s ease-in;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
    background-color: black;
    color: var(--cor-de-fundo);
  }
}
button:active{
  scale: .95;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2B1C1033;
    align-items: center;
    padding-bottom: 50px;
}

.column-2{
    display: flex;
    font-family:"Lato", sans-serif; 
    font-weight: 400;
    gap: 50px;
}

footer div span{
    font-weight: 600;
}

footer img{
    width: 50px;
    padding: 30px;
    display: inline-block;
    transition: transform 0.2s ease;
}

footer img:hover{
    transform: translateY(-6px);
    filter: invert(1);
}

body {
    margin: 0vh;
    background-color: var(--cor-de-fundo);
}

@media screen and (min-height: 1223px){
    footer{
        padding-bottom: 120px;
    }
    
}

@media screen and (max-width: 1286px){
  nav{
    gap: clamp(100px,20vw, 320px);
  }
}

@media screen and (max-width: 820px) {
  .column-2{
    flex-direction: column;
    gap: 5px;
  }

  nav{
    scale: calc(0.9);
  }

  .projects, .by , .JM{
    scale: calc(0.7);
  }

  .projects{
    margin-bottom: -30px;
  }

  .by{
    margin-bottom: -20px;
  }

  .JM{
    margin-bottom: -50px;
  }
}
  


@media screen and (max-width: 768px) {
  .container{
    transform: scale(0.8);
  }
  
}

@media screen and (max-width: 650px){
  .search-bar:hover{
    width: 425px;
    margin-left: 55vw;

  }
}

@media screen and (max-width: 425px) {
  .container{
    transform: scale(0.7);
  }

  .btns{
    margin-bottom:-30px;
    margin-top: -120px;
  }

  .card{
    margin-top: -60px;
  }

  .projects{
    margin-top: 80px;  
  }
  .column-2{
    scale: calc(0.8);
  }

  footer{
    padding-bottom: 20px;
  }

  .search-bar:hover{
    width: 325px;
    margin-left: 68vw;
  }
}

@media screen and (max-width:430px){
  .search-bar:hover{
    width: 300px;
    margin-left: 65vw;
  }
}

@media screen and (max-width: 375px) {
  nav{
    gap: 80px;
  }

  .column-1{
    scale: calc(0.9);
  }
}

@media screen and (max-width: 320px){
  .column-1{
    display: flex;
    margin-bottom: -20px;
  }

  .search-bar:hover{
    width: 225px;
    margin-left: 75vw;
  }
}

@media screen and (min-height:1373px){
  footer{
    padding-bottom: 220px;
  }
}
